nav{
    display: flex;
    justify-content: space-around;
    width: 100vh;
}

.speaker-section{
    display: flex;

}
.speaker{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.speaker img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    overflow: hidden;
}

footer{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgb(56, 56, 56);
    align-items: center;
    justify-content: center;
    gap: 25px;
}

footer > a{
    text-decoration: none;
    color: white;
}